body{
    background-color: #e9f6f4;
}
a{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: #66b2a6
}
.b_img{
    height: 75vh;
    opacity: 0.8;
}

.top_cake{
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.d-flex{
    margin-left: 5%;
    
    
}
.d-flex img{
    padding: 10%;
    width: 250px;
    height: 350px;
}
.p-2{
    border: thin solid black;
     margin: 10px; 
}
.p-2 button
{
    margin-left: 30px;
    background-color: rgb(0, 115, 255);
    color: white;
    width: 200px;

}
footer{
    text-align: center;
    background: linear-gradient(to right, #fdbc08 0%, #55e7a0 100%);
    bottom: 0%;
    height: 40px ;
}
.profile{
    height: 117px;
    width: 117px;

}
.client,.our_mission{
    color: #66b2a6;
}

